html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(135deg, #0e1a40, #274690, #8ea6d9, #274690);
  padding: 0px;
  height: 120px; 
}

.header-left, .header-center, .header-right {
    display: flex;
    align-items: center;
}

.header-left{
  font-family: "Comic Relief", system-ui;
  margin-left: 30px;
}

.header-right{    
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 10px 20px;
  border-radius: 12px;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-form input {
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  outline: none;
  background: transparent;
}

.search-form button {
  background-color:#8ea6d9 ;
  border: none;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form button:hover {
  background-color: #274690;
}

.header-right a {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 14px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
}


.header-left a {
  padding: 10px;
  font-size: 35px;
  color: white;
  text-decoration: none;
  animation: slideInTop 2.3s ease-out forwards;
}

@keyframes slideInTop {
  0% {
    transform: translateY(-120%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.header-center h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  padding: 0;
  color: white;

  z-index: 1000;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.search-form input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.search-form button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}





main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;    
  background-color: #946b2d;
  height: auto;
  padding: 100px;
  gap: 30px;
}


/* .block{
  position: relative;
  background-color: aliceblue;
  width: 900px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 2;
}

.question{
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  border-radius:2px solid #000;
}

.answered {
  background-color: #8ea6d9;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
} */



.film-section {
  padding: 20px 0;
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 140%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Poterr {
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(135deg, #0e1a40, #274690, #8ea6d9, #274690);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 250px;
  margin: 0 auto;
  color: lightgrey;
}

.Poterr:hover {
  background: linear-gradient(135deg, #274690, #0e1a40, #274690, #8ea6d9);
  color: aliceblue;
}
.Chronici {
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(135deg, #ff7f00, #f8a300, #f9c22e, #f8a300);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 250px;
  margin: 0 auto;
  color: black;
}

.Chronici:hover {
  background: linear-gradient(135deg, #f9c22e, #ff7f00, #f8a300, #f9c22e);
  color: aliceblue;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-120%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.film-section:nth-child(1) {
  animation: slideInLeft 2.3s ease-out forwards;
}

.film-section:nth-child(2) {
  animation: slideInRight 2.3s ease-out forwards;
}


















.harry-potter-section {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.harry-potter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.harry-potter-container img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.harry-potter-content {
  padding: 20px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.harry-potter-content h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

.harry-potter-content p {
  font-size: 16px;
}

/* Хроніки Нарнії */
.chronicles-of-narnia-section {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.chronicles-of-narnia-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.chronicles-of-narnia-container img {
  width: 2000%;
  height: auto;
  object-fit: cover;
}

.chronicles-of-narnia-content {
  padding: 20px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chronicles-of-narnia-content h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

.chronicles-of-narnia-content p {
  font-size: 16px;
}
























footer {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 2px solid #fff;
  background: linear-gradient(135deg, #0e1a40, #274690, #8ea6d9, #274690, #274690);
}
  

footer .container {
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 5rem;
  align-items: center; 

  
}

footer .container .profile {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 25%;
  margin: 0;
  padding: 0;
}

footer .container .link-container {
  display: flex;
  align-items: flex-start;
  width: 70%;
  display: flex;
  gap: 4rem;
}


footer .container .profile ,
footer .container .link-container{
  display: flex;
  min-height: 100px;
}


footer .container .link-container .information,
footer .container .link-container .resource,
footer .container .link-container .navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 30%;
}

footer .container .profile .logo {
  display: flex;
  align-items: center;
  border-radius: 50%;
  object-fit: cover;
  gap: 4px;
}


footer .container .profile .logo a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

footer .container .profile p {
  font-weight: 400;
  margin-bottom: 8px;
}

footer .container .profile .social-media-container {
  display: flex;
  gap: 8px;
}

footer .container .profile .social-media-container .social-media {
  text-decoration: none;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 28px;
  padding: 6px;
  border-radius: 50%;
  background-color: #946b2d;
  transition: transform 1s linear;
}

footer .container .profile .social-media-container .social-media:hover {
  transform: rotateY(180deg);
}

footer .container .link-container .information h1,
footer .container .link-container .resource h1,
footer .container .link-container .navigation h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
}

footer .container .link-container .information ul,
footer .container .link-container .resource ul,
footer .container .link-container .navigation ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
footer .container .link-container .information ul li,
footer .container .link-container .resource ul li,
footer .container .link-container .navigation ul li {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

footer .container .link-container .information ul li::after,
footer .container .link-container .resource ul li::after,
footer .container .link-container .navigation ul li::after {
  content: "";
  display: block;
  border-bottom: 3px solid white;
  width: 100px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s linear;
  margin-top: 4px;
}

footer .container .link-container .information ul li:hover::after,
footer .container .link-container .resource ul li:hover::after,
footer .container .link-container .navigation ul li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.6s linear;
}

footer .container .link-container .information ul li a,
footer .container .link-container .resource ul li a,
footer .container .link-container .navigation ul li a {
  color: #fff;
  text-decoration: none;
}


footer .containers form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

footer .containers input,
footer .containers textarea {
  width: 90%;
  max-width: 500px;
  padding: 15px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: transparent; 
  color: white;
  font-size: 16px;
  outline: none; 
}

input[type="email"]::placeholder,
textarea::placeholder {
  color: #cccccc;
}

footer .containers textarea {
    resize: vertical;
}

footer .containers button {
  font-family: cursive;
  max-width: 200px;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color:#946b2d;
  color: white;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

footer .containers button:hover {
  transform: scale(1.2);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.5);
  background-color: #a97f3f; 
}

footer .containers button:active {
  background-color: #d3d3d3; 
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}


footer .containers h1{
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
